[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild/
[Bb]uilds/
[Ll]ogs/
[Mm]emoryCaptures/

# --- 资源存储与缓存 ---
/[Aa]ssets/AssetStoreTools*

# --- 工程文件 (由 Unity 自动生成，不需要上传) ---
*.csproj
*.unityproj
*.sln
*.suo
*.tmp
*.user
*.userprefs
*.pidb
*.booproj
*.svd
*.pdb
*.opendb
*.IDB
*.v12.suo
*.2015.suo
*.utxt
*.resharper
*.user

# --- 系统与 IDE 缓存 ---
.DS_Store
Thumbs.db
.vs/
.gradle/
ExportedObj/
.idea/
.vscode/
/UserSettings
/Logs
/Library
